* {
  margin: 0px;
  padding: 0px;
  outline: none;
  text-decoration: none;
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap");
/* navBar section */
#NavBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2f3640;
  position: sticky;
  box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px,
    rgb(0 0 0 / 30%) 0px 3px 7px -3px;
  top: 0px;
  padding: 5px 0px;
  z-index: 999;
}
.NavBar_Fitem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.NavBar_Fitem img {
  width: 55px;
}
.NavBar_Fitem h2 {
  color: white;
  margin-left: 7px;
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 2px;
}
.icon {
  color: white;
  font-size: 2rem;
  margin: 0px 3px;
}

/* data container */
#dataContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.singleData {
  width: 400px;
  margin: 15px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  overflow-y: hidden;
}
::-webkit-scrollbar {
  display: none;
}
._scorebatEmbeddedPlayerW_ {
  overflow: hidden;
}

.thumbData {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px 10px;
  border-top: 1px solid lightgray;
}
.thumbData img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.thumbData span {
  font-size: 19px;
  font-weight: bold;
  margin-left: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (max-width: 500px) {
  #NavBar {
    justify-content: space-between;
  }
  .NavBar_Fitem h2 {
    font-size: 20px;
  }
  .NavBar_Fitem img {
    width: 40px;
  }
  .icon {
    font-size: 20px;
  }
}
@media only screen and (max-width: 300px) {
  .icon {
    margin: 0px;
  }
  .NavBar_Fitem h2 {
    letter-spacing: 1px;
    margin-left: 2px;
  }
}
